@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family:Poppins;
    background-color: #faecdc;
}


@font-face {
  font-family: 'Poppins';
  src: url('../Poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../Poppins/Poppins-Medium.ttf') format('truetype');
  font-weight: medium;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../Poppins/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../Poppins/Poppins-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../Poppins/Poppins-ExtraBold.ttf')
    format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}